.top-line {
    min-height: 415px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: #202123 url(/images/bg/lion-head-wide.jpg) right 28% top no-repeat;
}

.top-line__container {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}



